body{
    background: #fcf4df;
    width: 100vw;
}
.banner{
    background-image: url("../img/bnbn.png");
    width: 100vw;
    height: 3.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.baz-1>p{
    font-size: 0.36rem;
    color: white;
    line-height: 1.35rem;
}
.baz-2{
    width: 100%;
    height: 0.95rem;
}
.bazz{
    font-size: 0.34rem;
    color: white;
    padding: 0 1.34rem 0 0.24rem;
}
.bj>h1{
    font-size: 0.7rem;
    color: #34695d;
}
.bj{
    background-image: url("../img/liubiaoxinbai.png");
    width: 0.82rem;
    height: 0.95rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.qu{
    background-color: #eae94d;
    height: 0.66rem;
    width: 1.4rem;
    border-radius: 8px;
    font-size: 0.3rem;
    color: #417368;
    text-align: center;
    box-shadow: inset 0 -4px 0 rgba(204,203,37 ,1);
}
.qu:active{
    box-shadow: inset 0 0 0 rgba(204,203,37 ,1);
    transform: translateY(-4px);
}
/*3开始*/
.lingqu{
    width: 100%;
    height: 0.95rem;
    padding: 0 0.3rem;
}
.xian{
    border: 1px dashed #d9be9c;
    width: 6.9rem;
    margin: 0.32rem 0 0.28rem;
}
.bj-1>h1{
    font-size: 0.7rem;
    color: white;
}
.bj-1{
    background-image: url("../img/liubiamxing.png");
    width: 0.82rem;
    height: 0.95rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.ba{
    font-size: 0.34rem;
    color: #764d0b;
    white-space: nowrap;
  padding: 0 2.1rem 0 0.24rem;
}
.baa{
    font-size: 0.34rem;
    color: #764d0b;
    white-space: nowrap;
   margin: 0 2.49rem 0 0.24rem;
}
.dai{
    background-color: #969696;
    height: 0.6rem;
    width: 1.4rem;
    border-radius: 8px;
    font-size: 0.3rem;
    color: white;
    white-space: nowrap;
}
/*3结束*/
/*下拉框开始*/
.kuang{
    border-radius: 8px;
    height: 0.88rem;
    width: 3.2rem;
    color: #76440a;
    border: 1px solid #76440a;
    margin-bottom: 0.32rem;
}
.kuang>h1{
    font-size: 0.3rem;
}
.kuang>i{
    font-size: 0.35rem;
    padding-left: 0.14rem;
}
/*下拉框结束*/

/*弹窗开始*/

/*弹窗结束*/

