body{
    background: #fcf4df;
    width: 100vw;
}
.banner{
    background-image: url("../img/bnbn.png");
    width: 100vw;
    height: 3.25rem;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100% 100%;
    background-position: center top;
}
.baz-1>p{
    font-size: 0.36rem;
    color: white;
    line-height: 1.35rem;
}
.baz-2{
    width: 100%;
    height: 0.95rem;
}
.bazz{
    font-size: 0.34rem;
    color: white;
    padding: 0 1.34rem 0 0.24rem;
}
.bj>h1{
    font-size: 0.7rem;
    color: #34695d;
}
.bj{
    background-image: url("../img/liubiaoxinbai.png");
    width: 0.82rem;
    height: 0.95rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.qu{
    background-color: #eae94d;
    height: 0.66rem;
    width: 1.4rem;
    border-radius: 8px;
    font-size: 0.3rem;
    color: #417368;
    text-align: center;
    box-shadow: inset 0 -4px 0 rgba(204,203,37 ,1);
}
.qu:active{
    box-shadow: inset 0 0 0 rgba(204,203,37 ,1);
    transform: translateY(-4px);
}

.gongt{
    padding: 0 0.3rem;
}
/*3开始*/
.lingqu{
    width: 100%;
    height: 1.58rem;
    border-bottom: 1px dashed #d9be9c;
    margin: 0.32rem 0 0.28rem;
}
.xian{
    margin: 0.32rem 0 0.28rem;
}
.bj-1>h1{
    font-size: 0.7rem;
    color: white;
}
.bj-1{
    background-image: url("../img/liubiamxing.png");
    width: 0.82rem;
    height: 0.95rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.ba{
    font-size: 0.34rem;
    color: #764d0b;
    white-space: nowrap;
  padding: 0 2.1rem 0 0.24rem;
}
.baa{
    font-size: 0.34rem;
    color: #764d0b;
    white-space: nowrap;
   padding: 0 2.52rem 0 0.24rem;
}
.dai{
    background-color: #969696;
    height: 0.6rem;
    width: 1.4rem;
    border-radius:8px;
    font-size: 0.3rem;
    color: white;
    white-space: nowrap;
    padding: 0  0.12rem;
}
/*3结束*/

/*弹窗开始*/
.tc-1{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
}

/*蒙层最大层级开始*/
.d-none{
    display: none!important;
}
/*蒙层最大层级结束*/
.lqcg{
    width: 5.8rem;
    height:2.88rem;
    background-color: #fcf4df;
    border-radius: 6px;
    font-size: 0.38rem;
    color: #76440a;
   padding-top: 0.82rem;
}
.lqcg>button{
    font-size: 0.36rem;
    color: white;
    background-color: #eca93e;
    width: 100%;
    height: 0.88rem;
    border-radius:0 0 6px 6px;
    margin-top: 0.68rem;
}

/*弹窗结束*/

