body{
    background: #fcf4df;
    width: 100vw;
}
.banner{
    background-image: url("../img/bn.jpg");
    width: 100vw;
    height: 3.25rem;
    background-repeat: no-repeat;
    background-size: contain ;
}
.gt{
    font-size: 0.32rem;
}
.xinming{
    color: #76440a;
    margin: 0.31rem 0.3rem 0.2rem;
    display: inline-block;
    height: 0.88rem;
}
.xinming>input{
    color: #ad9071;
    padding-left: 1.56rem;
    background-color: #fcf4df;
}
.dixian{
    width: 6.9rem;
    border: 1px solid #d9be9c;
}
.haoma{
    color: #76440a;
    margin-left: 0.3rem;
    display: inline-block;
    height: 0.88rem;
}
.haoma>input{
    color: #ad9071;
    padding-left: 0.96rem;
    background-color: #fcf4df;
}
.shengfen{
    color: #76440a;
    margin:0.2rem 0.3rem 0.26rem ;
    display: inline-block;
    height: 0.88rem;
}
.shengfen>input{
    color: #ad9071;
    padding-left: 0.96rem;
    background-color: #fcf4df;
}

.xiangji>img{
    height: 2.5rem;
    width: 2.5rem;
}
.xiangji{
    text-align: center;
}
.xiangji>p{
font-size:0.28rem ;
    color: #76440a;
    margin-top: 0.2rem;
}

.queren{
    border-radius: 25px;
    width: 80vw;
    height: 0.88rem;
    background: #adadad;
    text-align: center;
    box-shadow: inset 0 -4px 0 rgba(139,67,0 ,0.3);
    margin-top: 0.7rem;
}
.queren:active{
    box-shadow: inset 0 0 0 rgba(139,67,0 ,0.3);
    transform: translateY(-4px);
}
.queren>h1{
    font-size: 0.36rem;
    color: #76440a;
}
