body{
    background: #fcf4df;
}
.banner{
    width: 100vw;
}
.gt{
    margin-top: 0.1rem;
    font-size: 0.32rem;
    padding: 0.3rem;
}
.gt label{
    color: #76440a;
    width: 2.25rem;
}
.gt input{
    flex: 1;
    -webkit-flex: 1;
    color: #ad9071;
    height: 100%;
    background: transparent;
}

/*.dixian{*/
    /*width: 6.9rem;*/
    /*border: 1px solid #d9be9c;*/
/*}*/
.haoma{
    color: #76440a;
    height: 1.08rem;
    width:100%;
    border-bottom: 1px solid #d9be9c;
}

#photo{
    display: none;
}
#photo+i{
    width:2.5rem;
    height: 2.5rem;
    background: url(../img/xiangji.jpg);
    background-size: 100% 100%;
    display: inline-block;
}
.xiangji{
    text-align: center;
}
.xiangji>p{
font-size:0.28rem ;
    color: #76440a;
    margin-top: 0.2rem;
}

/*!*弹窗图片开始*!*/
/*.xszp{*/
    /*width:2.5rem;*/
    /*height: 2.5rem;*/
    /*text-align: center;*/
/*}*/
/*!*蒙层最大层级开始*!*/
/*.d-none{*/
    /*display: none!important;*/
/*}*/
/*!*蒙层最大层级结束*!*/
/*!*弹窗图片结束*!*/


/*.queren{*/
    /*border-radius: 25px;*/
    /*width: 80vw;*/
    /*height: 0.88rem;*/
    /*background: #adadad;*/
    /*text-align: center;*/
    /*box-shadow: inset 0 -4px 0 rgba(139,67,0 ,0.3);*/
    /*margin-top: 0.7rem;*/
    /*font-size: 0.36rem;*/
    /*color: #76440a;*/
    /**/
/*}*/
/*.queren:active{*/
    /*box-shadow: inset 0 0 0 rgba(139,67,0 ,0.3);*/
    /*transform: translateY(4px);*/

/*}*/


.queren{
    border-radius: 25px;
    width: 80vw;
    height: 0.88rem;
    background: #fbd748;
    background: -webkit-linear-gradient(top, #fbd748 0%,#e89f3b 51%,#fbd748 51%,
    #e89f3b 51%,#e89f3b 100%);
    text-align: center;
    box-shadow: inset 0 -4px 0 rgba(139,67,0 ,0.3);
    font-size: 0.36rem;
    color: #76440a;
    margin-top: 0.7rem;
}
.queren:active{
    box-shadow: inset 0 0 0 rgba(139,67,0 ,0.3);
    transform: translateY(4px);
}
.queren:disabled{
    background:#adadad ;
    color:#76440a;
}