body{
    background: #fcf4df;
    width: 100vw;
}
.banner{
    background-image: url("../img/shouyebanner.jpg");
    width: 100vw;
    height: 4.16rem;
    background-repeat: no-repeat;
    background-size: cover ;
}
.chizi{
    width: 4.13rem;
    margin:0.33rem 0 0 1.76rem ;
}
.tuo-2{
    width: 2.76rem;
    height: 1.85rem;
    margin-left: 0.58rem;
}
.tuo{
    margin: 0.18rem 0 1.08rem;
}
.chanyu{
    border-radius: 25px;
    width: 80vw;
    height: 0.88rem;
    background: #fbd748;
    background: -webkit-linear-gradient(top, #fbd748 0%,#e89f3b 51%,#fbd748 51%,
    #e89f3b 51%,#e89f3b 100%);
    text-align: center;
    box-shadow: inset 0 -4px 0 rgba(139,67,0 ,0.3);
}
.chanyu:active{
    box-shadow: inset 0 0 0 rgba(139,67,0 ,0.3);
    transform: translateY(-4px);
}
.chanyu>h1{
    font-size: 0.36rem;
    color: #76440a;
}
.chanjia{
    font-size: 0.28rem;
    color: #76440a;
    margin-top: 0.18rem;
}
#gt{
    margin:0.96rem  0.34rem  0.36rem 0.39rem;
    /*margin:0.96rem  0.3rem ;*/
}
.xian>img{
    width:2.45rem ;
    height: 0.02rem;
    color: #d0a170;
}
.xian>h1{
    font-size: 0.34rem;
    color: #76440a;
    padding:0 0.32rem;
    white-space: nowrap;
}

#div{
    color: #76440a;
}
#div h1{
    font-size: 0.3rem;
}
#div p{
    font-size: 0.28rem;
}
.div-1{
    padding: 0.5rem 0 0.64rem ;
}
.gao{
    margin-top: 0.2rem;
}
.dd{
    font-weight: normal;
    line-height: 0.46rem;
}
.div-3{
    padding: 0.5rem 0 0.64rem ;
}
.gao>h1{
    font-size: 0.28rem;
}
/*弹窗开始*/
.tc{
    width: 100%;
    height: 100%;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    position: absolute;
    background: rgba(0,0,0,.5);
    z-index: 10;
    /*display: none;*/
}
.d-none{
    /*display: none !important;*/
}
.ma>img{
    width: 1.97rem;
    padding: 0.12rem 0 0.09rem 0;
}
.ma>h1{
    font-size: 0.32rem;
    color: white;
}
.ma>span{
    font-size: 0.28rem;
    color: white;
}
/*弹窗结束*/